:root {
  --primary-color: rgb(28, 187, 255);
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.nav-link {
  font-size: 1.25rem;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  margin: 8px 16px 8px 0px;
  color: black;
  font-weight: normal !important;
}

.nav-link.active {
  color: var(--primary-color) !important;
  font-weight: bold !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.5s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

nav {
  background-color: white;
  border-bottom: 2px solid var(--primary-color);
}

.logo {
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--primary-color);
  text-decoration: none;
  transform: scale(1);
  transition: 0.5s;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
  margin-left: 8px;
}

.primary-color {
  color: var(--primary-color) !important;
}

.primary-color.glow {
  filter: drop-shadow(0 0 10px var(--primary-color));
}

.social-icon {
  transform: scale(1);
  transition: transform 0.25s;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.social-icon.small {
  width: 30px;
  height: 30px;
}

.social-icon:hover {
  transform: scale(1.1);
  transition: transform 0.25s;
}

.email-container span {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  transition: width 0.5s ease, visibility 0.2s ease;
  height: 40px;
  background-color: black;
  color: white;
  margin-left: -1px;
  padding: 0 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.email-container:hover span {
  visibility: visible;
  width: 100%;
  transition: width 0.5s ease;
}

.email-container .social-icon.email {
  transform: scale(1);
  transition: 1s;
}

.email-container:hover .social-icon.email {
  transition: 0s;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.study-list {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.study-list::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #ccc;
}

.study-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
}

.study-item::before {
  content: "•";
  position: absolute;
  left: -20px;
  top: -37px;
  font-size: 100px;
  color: var(--primary-color);
  line-height: 1;
}

.card {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card-click {
  transform: scale(1);
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s
}

.card-click:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card:hover .card-img-top.hover {
  transform: scale(1.1);
}